<nav class="navbar navbar-expand-md navbar-light navbar-custom fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
    <div class="d-flex align-items-center">
      {{ if ne ($.Param "toc") false }}
      {{ $hasToc := and .TableOfContents (findRE `<li>` .TableOfContents) }}
      {{ $isListPage := or .IsSection .IsHome }}
      {{ $hasListPages := false }}
      {{ if $isListPage }}
        {{ if .IsHome }}
          {{ $mainSections := default (slice "post" "posts") site.Params.mainSections }}
          {{ $filtered := where (where site.RegularPages "Type" "in" $mainSections) "Params.hidden" "!=" true }}
          {{ $hasListPages = gt (len $filtered) 0 }}
        {{ else }}
          {{ $hasListPages = gt (len .Paginator.Pages) 0 }}
        {{ end }}
      {{ end }}
      {{ if or $hasToc $hasListPages }}
      <button class="theme-toggle" id="toc-toggle" aria-label="Table of contents" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Table of contents">
        <span class="fas fa-list"></span>
      </button>
      {{ end }}
      {{ end }}
      {{ if eq ($.Param "colorScheme" | default "auto") "auto" }}
      <button class="theme-toggle" id="theme-toggle" aria-label="{{ i18n "themeToggleLabel" }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-tooltip-auto="{{ i18n "themeTooltipAuto" }}" data-tooltip-light="{{ i18n "themeTooltipLight" }}" data-tooltip-dark="{{ i18n "themeTooltipDark" }}" title="{{ i18n "themeTooltipAuto" }}">
        <span class="fas fa-adjust" id="theme-icon-auto"></span>
        <span class="fas fa-sun" id="theme-icon-light" style="display: none;"></span>
        <span class="fas fa-moon" id="theme-icon-dark" style="display: none;"></span>
      </button>
      {{ end }}
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="{{ i18n "toggleNavigation" }}">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav ms-auto">
        {{ range .Site.Menus.main.ByWeight }}
          {{ $name := .Name }}
          {{ with .Identifier }}
            {{ $key := printf "menu_%s" . }}
            {{ $translated := i18n $key }}
            {{ if and $translated (ne $translated $key) }}
              {{ $name = $translated }}
            {{ end }}
          {{ end }}
          {{ if .HasChildren }}
            <li class="nav-item dropdown" >
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ $name }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                {{ range .Children }}
                  {{ $childName := .Name }}
                  {{ with .Identifier }}
                    {{ $key := printf "menu_%s" . }}
                    {{ $translated := i18n $key }}
                    {{ if and $translated (ne $translated $key) }}
                      {{ $childName = $translated }}
                    {{ end }}
                  {{ end }}
                  <li><a class="dropdown-item" href="{{ .URL | relLangURL }}">{{ $childName }}</a></li>
                {{ end }}
              </ul>
            </li>
          {{ else }}
            <li class="nav-item" >
              <a class="nav-link" title="{{ $name }}" href="{{ .URL  | relLangURL }}">{{ $name }}</a>
            </li>
          {{ end }}
        {{ end }}

          {{ if hugo.IsMultilingual }}
            {{ $pageTranslations := .AllTranslations }}
            {{ $siteLanguages := .Site.Home.AllTranslations }}
            {{ if ge (len $siteLanguages) 3 }}
              {{ if .IsTranslated }}
                <li class="nav-item dropdown" >
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ i18n "languageSwitcherLabel" }}
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    {{ range $pageTranslations }}
                      {{ if not (eq .Lang $.Site.Language.Lang) }}
                      <li><a class="dropdown-item" href="{{ .Permalink }}">{{ default .Lang .Site.Language.LanguageName }}</a></li>
                      {{ end }}
                    {{ end }}
                  </ul>
                </li>
              {{ end }}
            {{ else }}
            {{ if .IsTranslated }}
              {{ range .Translations }}
                <li class="nav-item" >
                  <a class="nav-link" href="{{ .Permalink }}">{{ default .Lang .Site.Language.LanguageName }}</a>
                </li>
              {{ end}}
            {{ end }}
          {{ end }}
        {{ end }}

        {{ with .Site.Params.gcse }}
          <li class="nav-item" >
            <a class="nav-link" href="#modalSearch" data-bs-toggle="modal" data-bs-target="#modalSearch" style="outline: none;">
              <span class="d-md-none">{{ i18n "gcseLabelShort" }}</span> <span id="searchGlyph" class="fas fa-search" aria-hidden="true"></span>
            </a>
          </li>
        {{ end }}
      </ul>
      {{ partial "nav_custom.html" . }}
    </div>

    {{ $page := . }}
    {{ if ne (.Params.showAvatar | default true) false }}
      {{ with .Site.Params.logo }}
        <div class="avatar-container">
          <div class="avatar-img-border">
            <a title="{{ $page.Site.Title }}" href="{{ "" | absLangURL }}">
            {{- $image := resources.Get . -}}
            {{ if $image }}
              <img class="avatar-img" src="{{ ($image.Fit "300x300 webp q100").Permalink }}" alt="{{ $page.Site.Title }}" />
            {{else}}
              <img class="avatar-img" src="{{ . | relURL }}" alt="{{ $page.Site.Title }}" />
             {{end}}
            </a>
          </div>
        </div>
      {{ end }}
    {{ end }}

  </div>
</nav>

<!-- Search Modal -->
{{ $page := . }}
{{ with .Site.Params.gcse }}
  <div id="modalSearch" class="modal fade" role="dialog" aria-modal="true" aria-labelledby="searchModalTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="searchModalTitle">{{ i18n "gcseLabelLong" $page }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <gcse:search></gcse:search>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ i18n "gcseClose" }}</button>
        </div>
      </div>
    </div>
  </div>
{{ end }}
