{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <ul class="post-pager">
    {{ if .Paginator.HasPrev }}
      <li class="pager-prev">
        <a href="{{ path.Join .RelPermalink "page" .Paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
      </li>
    {{ end }}
    {{ if .Paginator.HasNext }}
      <li class="pager-next">
        <a href="{{ path.Join .RelPermalink "page" .Paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
      </li>
    {{ end }}
  </ul>
{{ end }}
