{{- $description := "" -}}
{{- if .Description -}}
  {{- $description = .Description | plainify | htmlUnescape -}}
{{- else if .IsPage -}}
  {{- $description = .Summary | plainify | htmlUnescape -}}
{{- end -}}

{{- $keywords := slice -}}
{{- range .Params.tags -}}
  {{- $keywords = $keywords | append . -}}
{{- end -}}

{{- $authors := partial "author_list.html" . -}}
{{- $authorSchema := slice -}}
{{- range $authors -}}
  {{- $a := dict
    "@type" "Person"
    "name" .name
    "url" (or .url $.Site.BaseURL)
    "@id" (printf "%s#author" $.Site.BaseURL)
  -}}
  {{- $authorSchema = $authorSchema | append $a -}}
{{- end -}}
{{- if eq (len $authorSchema) 1 -}}
  {{- $authorSchema = index $authorSchema 0 -}}
{{- end -}}

{{- $schema := dict
  "@context" "https://schema.org"
  "@type" "Article"
  "@id" (printf "%s#article" .Permalink)
  "isPartOf" (dict "@id" .Permalink)
  "author" $authorSchema
  "headline" .Title
  "description" $description
  "inLanguage" .Lang
  "wordCount" .WordCount
  "dateCreated" (.PublishDate.Format "2006-01-02T15:04:05-07:00")
  "datePublished" (.PublishDate.Format "2006-01-02T15:04:05-07:00")
  "dateModified" (.Lastmod.Format "2006-01-02T15:04:05-07:00")
  "keywords" $keywords
  "mainEntityOfPage" (dict "@id" .Permalink)
  "publisher" (dict
    "@type" "Organization"
    "name" .Site.Title
    "logo" (dict
      "@type" "ImageObject"
      "url" (.Site.Params.logo | absURL)
      "height" 60
      "width" 60
    )
  )
-}}
{{- if gt .ReadingTime 5 -}}
  {{- $schema = merge $schema (dict "timeRequired" (printf "PT%dM" .ReadingTime)) -}}
{{- end -}}
{{- if .Site.Params.logo -}}
  {{- $schema = merge $schema (dict "image" (.Site.Params.logo | absURL)) -}}
{{- end -}}
<script type="application/ld+json">
{{ $schema | jsonify (dict "indent" "  ") | safeJS }}
</script>
